.racetrack {
	background-color: black;
	width: 800px;
	height: 400px;
	border-radius: 100px;
}

.box {
    background-color: #FF0000;
    border-radius: 10px;
   	height: 35px;
    position: relative;
    width: 35px;
}

.other-box {

    background-color: blue;
    border-radius: 10px;
   	height: 35px;
    position: relative;
    width: 35px;
}

.player1 {
	color: red;
}

.player2 {
	color: blue;
}

.reset-button {
	display: none;
}

body {
	/*background-color: #B3B3B3;*/
}

.player1Name {
    background: transparent;
    border: 1px dashed hsl(0, 43%, 83%);
    font-size: 30px;
}

.player2Name {
    background: transparent;
    border: 1px dashed hsl(240, 43%, 83%);
    font-size: 30px;
}

.player1Output, .player2Output {
	font-size: 30px;
}