html, body {
	height: 100%;
}

.racetrack {
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: relative;
    min-width: 400px;
}

.inner-racetrack {
	background-color: white;
	border-radius: 100px;
	bottom: 100px;
	left: 100px;
	position: absolute;
	right: 100px;
	top: 100px;
}


.box {
    background-color: #FF0000;
    border-radius: 10px;
   	height: 35px;
    position: relative;
    width: 35px;
}

.other-box {

    background-color: blue;
    border-radius: 10px;
   	height: 35px;
    position: relative;
    width: 35px;
}

.player1 {
	color: red;
}

.player2 {
	color: blue;
}

.reset-button {
	display: none;
}

body {
	/*background-color: #B3B3B3;*/
}

.player1Name {
    background: transparent;
    border: 1px dashed hsl(0, 43%, 83%);
    font-size: 30px;
}

.player2Name {
    background: transparent;
    border: 1px dashed hsl(240, 43%, 83%);
    font-size: 30px;
}

.player1Output, .player2Output {
	font-size: 30px;
}